/* line 1, ../scss/_animate.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  /* line 15, ../scss/_animate.scss */
  0%, 100% {
    -webkit-transform: translateX(0);
  }

  /* line 16, ../scss/_animate.scss */
  15%, 45%, 75%, 95% {
    -webkit-transform: translateX(-10px);
  }

  /* line 17, ../scss/_animate.scss */
  30%, 60%, 90% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  /* line 21, ../scss/_animate.scss */
  0%, 100% {
    -moz-transform: translateX(0);
  }

  /* line 22, ../scss/_animate.scss */
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }

  /* line 23, ../scss/_animate.scss */
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  /* line 27, ../scss/_animate.scss */
  0%, 100% {
    -o-transform: translateX(0);
  }

  /* line 28, ../scss/_animate.scss */
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }

  /* line 29, ../scss/_animate.scss */
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  /* line 33, ../scss/_animate.scss */
  0%, 100% {
    transform: translateX(0);
  }

  /* line 34, ../scss/_animate.scss */
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  /* line 35, ../scss/_animate.scss */
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* line 38, ../scss/_animate.scss */
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

/* line 4, ../scss/login.scss */
.alert-dismissable > .close {
  margin-top: 2px;
}

/* line 8, ../scss/login.scss */
#loginPanel {
  margin-top: 75px;
  width: 415px;
}

/* line 13, ../scss/login.scss */
#login .text-danger {
  position: relative;
  top: 7px;
}
