/* line 3, ../scss/main.scss */
body {
  background: #F2F4F4;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.075);
}

/* line 8, ../scss/main.scss */
.navbar {
  background-image: none;
  background: #F3F3F3;
  box-shadow: none;
}
/* line 13, ../scss/main.scss */
.navbar .navbar-nav > .active > a {
  background-color: #f2f2f2;
}

/* line 18, ../scss/main.scss */
.navbar-header {
  padding-left: 15px;
}

/* line 22, ../scss/main.scss */
.navbar-default .navbar-brand {
  font-weight: bolder;
  padding-left: 50px;
  background: url(../icon.png) no-repeat left -2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* line 33, ../scss/main.scss */
.navbar-collapse .navbar-text {
  margin-right: 15px !important;
}

/* line 37, ../scss/main.scss */
.container {
  width: auto;
  max-width: 1024px;
  padding: 0 15px;
}

/* line 43, ../scss/main.scss */
#content {
  padding-top: 51px;
}

/* line 47, ../scss/main.scss */
#error {
  margin-top: 12px;
}

/* line 52, ../scss/main.scss */
.glyphicon-ok,
.glyphicon-ok-circle {
  color: green;
}

/* line 56, ../scss/main.scss */
.glyphicon-warning-sign {
  color: #EC971F;
}

/* line 61, ../scss/main.scss */
.glyphicon-exclamation-sign,
.glyphicon-remove {
  color: #C9302C;
}

/* line 65, ../scss/main.scss */
.panel-form {
  text-shadow: none;
  margin: 65px auto;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
}
/* line 72, ../scss/main.scss */
.panel-form .form-group {
  color: #333;
}
/* line 75, ../scss/main.scss */
.panel-form .help-block {
  color: #737373 !important;
}

/* line 80, ../scss/main.scss */
.clearfix:after {
  clear: both;
  *zoom: 1;
  height: 0;
  visibility: hidden;
  display: block;
}
