/* line 1, ../scss/_animate.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  /* line 15, ../scss/_animate.scss */
  0%, 100% {
    -webkit-transform: translateX(0);
  }

  /* line 16, ../scss/_animate.scss */
  15%, 45%, 75%, 95% {
    -webkit-transform: translateX(-10px);
  }

  /* line 17, ../scss/_animate.scss */
  30%, 60%, 90% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  /* line 21, ../scss/_animate.scss */
  0%, 100% {
    -moz-transform: translateX(0);
  }

  /* line 22, ../scss/_animate.scss */
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }

  /* line 23, ../scss/_animate.scss */
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  /* line 27, ../scss/_animate.scss */
  0%, 100% {
    -o-transform: translateX(0);
  }

  /* line 28, ../scss/_animate.scss */
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }

  /* line 29, ../scss/_animate.scss */
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  /* line 33, ../scss/_animate.scss */
  0%, 100% {
    transform: translateX(0);
  }

  /* line 34, ../scss/_animate.scss */
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  /* line 35, ../scss/_animate.scss */
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* line 38, ../scss/_animate.scss */
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

/* line 4, ../scss/profile.scss */
h2 {
  margin-top: 0;
}

/* line 8, ../scss/profile.scss */
.panel-heading > h3 {
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 0;
}

/* line 14, ../scss/profile.scss */
.btn-default-danger {
  color: #C9302C !important;
  font-weight: bold;
}

/* line 19, ../scss/profile.scss */
.panel-body > .table-striped {
  margin-bottom: 0;
}

/* line 24, ../scss/profile.scss */
.table-striped tr > th:first-child,
.table-striped tr > td:first-child {
  padding-left: 12px;
}

/* line 28, ../scss/profile.scss */
.table-striped > tbody > tr > td {
  vertical-align: middle;
}
/* line 31, ../scss/profile.scss */
.table-striped > tbody > tr > td.fit-to-content {
  width: 1px;
  white-space: nowrap;
}
/* line 35, ../scss/profile.scss */
.table-striped > tbody > tr > td > form {
  margin-bottom: 0;
}
/* line 38, ../scss/profile.scss */
.table-striped > tbody > tr > td > button {
  margin-right: 5px;
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/* line 43, ../scss/profile.scss */
.table-striped > tbody > tr > td > button:last-child {
  margin: 0;
}
/* line 46, ../scss/profile.scss */
.table-striped > tbody > tr > td > button:focus {
  opacity: 1;
}
/* line 49, ../scss/profile.scss */
.table-striped > tbody > tr > td > button:disabled {
  opacity: 0;
}

/* line 55, ../scss/profile.scss */
.table-striped > tbody > tr.loading * {
  cursor: wait !important;
}

/* line 59, ../scss/profile.scss */
.table-striped > tbody > tr.loading > td {
  color: rgba(51, 51, 51, 0.65);
}

/* line 63, ../scss/profile.scss */
.table-striped > tbody > tr:hover > td > button {
  opacity: 1;
}

/* line 66, ../scss/profile.scss */
.table-striped > tbody > tr:hover > td > button:disabled {
  opacity: 0.65;
}

/* line 70, ../scss/profile.scss */
.modal {
  overflow: hidden;
}
