@import "base";

body {
  background: #F2F4F4;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.075);
}

.navbar {
  background-image: none;
  background: #F3F3F3;
  box-shadow: none;

  .navbar-nav > .active > a {
    background-color: #f2f2f2;
  }
}

.navbar-header {
  padding-left: 15px;
}

.navbar-default .navbar-brand {
  font-weight: bolder;
  padding-left: 50px;
  background: url(../icon.png) no-repeat left -2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.navbar-collapse .navbar-text {
  margin-right: 15px !important;
}

.container {
  width: auto;
  max-width: 1024px;
  padding: 0 15px;
}

#content {
  padding-top: 51px;
}

#error {
  margin-top: 12px;
}

.glyphicon-ok,
.glyphicon-ok-circle {
  color: green;
}

.glyphicon-warning-sign {
  color: #EC971F;
}

.glyphicon-exclamation-sign,
.glyphicon-remove {
  color: #C9302C;
}

.panel-form {
  text-shadow: none;
  margin: 65px auto;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;

  .form-group {
    color: #333;
  }
  .help-block {
    color: #737373 !important;
  }
}

.clearfix:after, {
  clear: both;
  *zoom: 1;
  height: 0;
  visibility: hidden;
  display: block;
}
