Options +FollowSymLinks +ExecCGI
AddHandler fastcgi-script .fcgi
AddHandler cgi-script .cgi

ErrorDocument 404 "<h2>404</h2>Not found"
ErrorDocument 500 "<h2>Server error</h2>There was a problem starting the Ruby application"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /~chances/insults/dispatch.cgi [QSA,L]