<h1>About InsultBot</h1>
<p>
	InsultBot is a simple IRC bot written in Python by Chance Snow (enigma) and deployed on The CAT's IRC server.
	Check out the source code <a href="https://github.com/chances/insultbot">at GitHub</a>.
</p>
<h3>DISCLAIMER:</h3>
<p>Some of the isults made by InsultBot may be offensive. If you find a particular insult to be <em>too</em> or <em>purposfully</em> offensive, you may <a href="<%= href('/report') %>">report the insult</a>.</p>
<p>By using both InsultBot and this service you agree to the following terms:</p>
<ul>
	<li>The creator of InsultBot shall not be held liable for anything InsultBot says to anyone.</li>
	<li>Liability shall fall on the person instructing InsultBot to make an insult.</li>
	<li>Insults suggested to this service are moderated. As such, some insults may not make it into circulation.</li>
	<li>Any insult suggested with this service is subject to dissaproval or deletion at any time, for any reason.</li>
	<li>Certain insults (Insults suggested within this service.) may be removed from circulation if they been repeatedly reported.</li>
</ul>
