<!DOCTYPE HTML>
<html>
    <head>
        <title>InsultBot Insults</title>

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="<%= href('/') %>">InsultBot</a>
                    <% if defined? @insult_count %>
                    <p class="navbar-text"><%= @insult_count %> insults, and counting!</p>
                    <% end %>
                </div>
                <div class="collapse navbar-collapse navbar-ex4-collapse">
                    <% if show_sign_in %>
                    <a class="btn btn-default navbar-btn pull-right" href="<%= href('/login') %>">Sign In</a>
                    <% end %>
                </div>
            </div>
        </div>
        <div id="content" class="container">
            <%= yield %>
        </div>
    </body>
</html>